.banner{
    background-color: lightslategray;
    border: 1px solid black;
    height: 100vh;
    margin-bottom: 20px;
}
.carousel{
    text-align: center;
    align-items: center;
}
.team{
    color: rgb(109, 34, 4);
}